<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>


<table class="table">
    <thead>
    <tr>
        <th>
            نام کلاس
        </th>
        <th>
            محل برگذاری
        </th>
        <th>
            وضعیت
        </th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{ course_data.name }}
        </td>
        <td>
            {% for class in course_data.getClasses %}
            | {{ class }} |
            {% endfor %}

        </td>
        <td>
            {{ course_data.status }}
        </td>
    </tr>
    </tbody>
</table>

<table class="table">
    <thead>
    <th>نام دانشجو</th>
    <th>شماره دانشجویی</th>
    <th>دانشکده</th>
    </thead>
    <tbody>
    {% for student in course_data.students.all %}
    <tr>
        <td>{{ student.first_name }} {{ student.last_name }}</td>
        <td>{{ student.student_id }}</td>
        <td>{{ student.faculty }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>